* {
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: auto;
    background: #101114;
}

/* container */

.container__main {
    width: 70%;
    order: 2;
}

.container {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}

.container__main-title {
    background: #00aeef;
    padding: 15px;
}

/* container end */

/* menu */
a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    border-top: 1px solid #373941;
}

.menu {
    width: 250px;
    order: 1;
    width: 30%;
    min-height: calc(100vh - 200px);
}


.menu__link a {
    background: #1f2229;
    color: #ffffff;
    padding: 30px;
    display: block;
}

.menu__link a:hover {
    background: #2a2d37;
    color: #808592;
}

.menu__logo {
    background: #1f2229;
    color: #ffffff;
    padding: 30px;
    display: block;
}

/* menu end*/

/* card */
.card {
    background: #f7f8f8;
}

.card__fron-side {
    border: 1px solid #e4e9ee;
    color: #8494ab;
    width: 400px;
    border-radius: 6%;
}

.card__form-inputs input {
    width: 50px;
}

/* card end */
/* footer */
footer {
    background: #373c43;
}

/* footer end */